<section class="section">
  <h2 class="section__title">Education</h2>

  <div class="section__description">
    <h3>MS, Computer Science</h3>
    Drexel University, Philadelphia, PA<br />
    Graduating March 2025<br />
    3.57 GPA<br />
    Relevant coursework: Machine Learning, Software Design, Intro to Computer
    Vision, Intro to Artificial Intelligence, Data Structures and Algorithms,
    Computer Networks, Computer Graphics, Principles of Cybersecurity, System
    Basics, Programming, Deep Learning
  </div>

  <br /><br />

  <div class="section__description">
    <h3>Bachelor of Technology in Electronics and Communication Engineering</h3>
    Vellore Institute of Technology, Vellore, Tamil Nadu, India<br />
    Graduated June 2021<br />
    8.99/10 GPA<br />
    Relevant coursework: Internet of Things, Operating System, Digital Image
    Processing, Computer Communication, Computer Organization & Architecture,
    Problem Solving and Programming, Probability Theory & Random Variables, VLSI
  </div>
</section>
